:root{
    --cor_fundo:#265D80;
    --cor_button:#805A26;
    --cor_letra:#267980;
}
a{
    text-decoration: none;
}
body{
    background-color: var(--cor_fundo);
    color:var(--cor_letra);
    text-align: center;
}
button{
    color: white;
    background-color:var(--cor_button);
    font:bolder 1.5em 'times new roman';
    cursor: pointer;
}
button:hover{
    background-color:#b1874e ;
    height: 50px;
    transition: 0.5s;
}
section{
    margin: 20px 10px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 90px;
    text-align: center;
}
h1{
   font:normal 5em 'times new roman'; 
}
#h2_começo{
    font:normal 3em 'times new roman';
}
ul{
    list-style-type: none;
}
li{
    display: flex;
    align-items: center;
    align-content: center;
    font:bold 3em 'times new roman';
    color:var(--cor_letra);
}
.h2_assunto{
    font:normal 5em 'times new roman';
    display: flex;
    text-indent: 20px;
}
.voltar{
    margin-top: 100px;
    margin-bottom: -20px;
}
.busca{
    height:30px;
    width: 600px;
    text-align: justify;
    margin-right: 1200px;
    background-color: transparent;
    border: none;
    color: white;
    font: normal 1.5em 'times new roman';
}
.busca:focus{
    outline: none;
}
.busca::placeholder{
    color: white;
    font:lighter 1em 'arial';
}
.item{
    display: flex;
    align-items: center;
    background-color:var(--cor_fundo);
    padding: 8px 16px 8px 8px;
    border-radius: 24px;
    gap:8px; /* Espaçamento entre item flexbox*/
}
.item-search{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    min-width: 32px;
    min-height: 32x;
    background-color: var(--cor_letra);
    color: white;
    padding: 5px;
}
#noResult{
    display: none;
    text-align: center;
}
#noResult2{
    display: none;
    text-align: center;
}